.leaflet-marker-icon {
  z-index: 999999 !important;
}

.leaflet-marker-shadow {
  display: none !important;
}

.leaflet-heatmap-layer {
  z-index: 1 !important;
}

.leaflet-overlay-pane {
  z-index: 400 !important;
}

.leaflet-marker-pane {
  z-index: 1000 !important;
}

.leaflet-top, .leaflet-bottom {
  z-index: 900 !important;
}
